@{
    ViewData["Title"] = "Index";
}


<div id="top-content" class="container-fluid">
    <p class="display-4 float-left" style="font-size: 30px">My Projects</p>
    <button id="submit-btn" class="btn btn-success float-right mb"
           onclick="PopupForm('@Url.Action("AddOrEdit", "Project")')" >Submit Project <i class="fas fa-plus"></i></button>
</div>

<hr class="line" />

<div id="center-content" class="container-fluid mt-3">
    <table class="display table table-striped mt-5" style="width:100%" id="datatable">
        <thead class="thead-dark" style="opacity: 0.9;">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Date Created</th>
                <th>Due Date</th>
            </tr>
        </thead>
    </table>
</div>

<div id="addProject" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: 80%; max-width: 800px;" >
        <div id="modalContent" class="modal-content">

        </div>
    </div>
</div>


@section scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script src="~/js/notify.min.js"></script>

    <style>
        .line {
            margin-top: 50px;
            margin-left: 50px;
            margin-right: 50px;
            border-bottom: 2px;
        }

        .btn-success, .btn-success:hover, .btn-success:active, btn-success:visited, btn-success:focus {
            background: #86C136;
            background: -webkit-linear-gradient(right, #86C136, #67BA2E);
            background: -moz-linear-gradient(right, #86C136, #67BA2E);
            background: linear-gradient(to left, #86C136, #67BA2E);
            border-color: #86C136;
        }

        i {
            margin-left: 10px
        }

        #submit-btn {
            width: 180px;
        }

        #top-content, #center-content {
            padding-left: 50px;
            padding-top: 20px;
            padding-right: 50px;
        }
    </style>

    <script>
        var table;
        $(document).ready(function () {
             table = $("#datatable").DataTable({
                "dom": '<"float-left"f><"float-right"l><t><i><p>',
                "ajax": {
                    "url": '/Project/GetAllProjects',
                    "type": 'GET',
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Title" },
                    { "data": "Description" },
                    { "data": "DateCreated" },
                    { "data": "DueDate"}
                ]
            });
        });

        function PopupForm(url) {
            $.get(url)
                .done(function (response) {
                    $("#modalContent").html(response);
                    $("#addProject").modal('show');
                });
        }

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            $("#addProject").modal('hide');
                            table.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top right",
                                className: "success"
                            });
                        }
                    }
                });
            }
            return false;
        }

    </script>
}

