@model BTT.WebMVC.Models.ViewModels.IssueViewModel
@using BTT.WebMVC.Models.ViewModels;

@{
    Layout = null;

    List<SelectListItem> memberItems = new List<SelectListItem>()
    {
        new SelectListItem("Member 1", "Member 1"),
        new SelectListItem("Member 2", "Member 2")
    };

    List<SelectListItem> projectItems = new List<SelectListItem>()
    {
        new SelectListItem("Project 1", "Project 1"),
        new SelectListItem("Project 2", "Project 2")
    };

    IEnumerable<SelectListItem> levelItems = Html.GetEnumSelectList(typeof(BTT.Domain.Models.Issues.Priority));
}

@using (Html.BeginForm("AddOrEdit", "Issue", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    <div>
        <div class="modal-header" style="background-color: #86C136">
            <h4 class="modal-title text-white">Create Bug</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="text-white" aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-6">
                    <input hidden asp-for="Id"/>
                    <input hidden asp-for="DateCreated"/>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label asp-for="Priority" class="control-label"></label>
                        <select asp-for="Priority" asp-items="levelItems" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">End Date</label>
                        <input asp-for="EndDueDate" class="form-control" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Attachments" class="control-label"></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" for="inputGroupFileAddon">Upload</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile" aria-describedby="inputGroupFileAddon">
                                <label class="custom-file-label" for="inputGroupFile">Choose File</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Project Assigned</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary" type="button" id="addProjectButton">Create</button>
                            </div>
                            <select aria-describedby="addProjectButton" asp-for="AssignedProjectName" asp-items="projectItems" class="form-control" id="projectSelectList"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Member Assigned</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary" type="button" id="addMemberButton">Create</button>
                            </div>
                            <select aria-describedby="addMemberButton" asp-for="AssignedMemberName" asp-items="memberItems" class="form-control" id="memberSelectList"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Add a Comment</label>
                        <textarea asp-for="Comments" class="form-control" rows="3"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success" data-save="modal">Submit</button>
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
        </div>
    </div>
}