@using BTT.WebMVC.Extensions.HTML;

@{
    ViewData["Title"] = "Index";
}

<div id="top-content" class="container-fluid">
    <p class="display-4 float-left" style="font-size: 30px">My Bugs</p>
    <button id="submit-btn" class="btn btn-success float-right"
            onclick="PopupForm('@Url.Action("AddOrEdit","Issue")')">
        Submit Bug <i class="fas fa-plus"></i>
    </button>
</div>

<hr class="line" />

<div id="center-content" class="container-fluid mt-3">
    <table class="display table table-striped mt-5" style="width:100%" id="datatable">
        <thead class="thead-dark" style="opacity: 0.9;">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>DateCreated</th>
                <th>EndDueDate</th>
                <th>Priority</th>
            </tr>
        </thead>
    </table>
</div>

<div id="addIssue" class="modal fade p-5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: 100%; max-width: 1000px;">
        <div id="modalContent" class="modal-content">

        </div>
    </div>
</div>

@section scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    @*<script src="~/lib/jquery/jquery-1.12.4.min.js"></script>*@
    <script src="~/lib/jquery/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script src="~/js/notify.min.js"></script>

    <style>
        .line {
            margin-top: 50px;
            margin-left: 50px;
            margin-right: 50px;
            border-bottom: 2px;
        }

        .btn-success, .btn-success:hover, .btn-success:active, btn-success:visited, btn-success:focus {
            background: #86C136;
            background: -webkit-linear-gradient(right, #86C136, #67BA2E);
            background: -moz-linear-gradient(right, #86C136, #67BA2E);
            background: linear-gradient(to left, #86C136, #67BA2E);
            border-color: #86C136;
        }

        i {
            margin-left: 10px
        }

        #submit-btn {
            width: 160px;
            color: white;
        }

        #top-content, #center-content {
            padding-left: 50px;
            padding-top: 20px;
            padding-right: 50px;
        }

        .active {
            border-radius: 50px;
            background: #86C136;
            background: -webkit-linear-gradient(right, #86C136, #67BA2E);
            background: -moz-linear-gradient(right, #86C136, #67BA2E);
            background: linear-gradient(to left, #86C136, #67BA2E);
            border: none;
        }

        .modal-header {
            cursor: move;
        }
    </style>

    <script>
        var table, dialog;

        $(document).ready(function () {
            table = $("#datatable").DataTable({
                "dom": '<"float-left"f><"float-right"l><t><i><p>',
                "ajax": {
                    "url": '/Issue/GetAllIssues',
                    "type": 'GET',
                    "datatype": "json"
                },
                "columns": [
                    { "data": 'Title' },
                    { "data": 'Description' },
                    { "data": 'DateCreated' },
                    {
                        "data": 'EndDueDate', "render": function (data) {
                            return setDateTimeColor(data);
                        }
                    },
                    {
                        "data": 'Priority', "render": function (data) {
                            return setBadgeColor(data);
                        }
                    }
                ]
            });
        });


        function PopupForm(url) {
            $('#addIssue').draggable({
                handle: ".modal-header"
            });

            $.get(url)
                .done(function (response) {
                    $("#modalContent").html(response);
                    $("#addIssue").modal('show');
                });
        }


            function SubmitForm(form) {
                $.validator.unobtrusive.parse(form);
                if ($(form).valid()) {
                    $.ajax({
                        type: "POST",
                        url: form.action,
                        data: $(form).serialize(),
                        success: function (data) {
                            if (data.success)
                            {
                                $("#addIssue").modal('hide');
                                table.ajax.reload();

                                $.notify(data.message, {
                                    globalPosition: "top right",
                                    className: "success"
                                });
                            }
                        }
                    });
                }
                return false;
            }

           function Delete(id) {
            if(confirm('Are You Sure to Delete this Employee Record ?'))
            {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete","Issue")/' + id,
                    success: function (data) {
                        if (data.success)
                        {
                            table.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top right",
                                className: "success"
                            });
                        }
                    }

                });
            }
        }

        function setDateTimeColor(data) {
            var colorClass = '';
            var date = new Date().toLocaleString().replace(',', '');
            if (data === date) {
                colorClass = 'text-danger';
            } else {
                colorClass = 'text-info';
            }
            return '<span class="' + colorClass + '">' + data + '</span >'
        }

        function setBadgeColor(data) {
            var badgeClass = 'badge '
            var result = '';

            switch (data) {
                case 0:
                    result = 'Low';
                    badgeClass += 'badge-success';
                    break;
                case 1:
                    result = 'Medium';
                    badgeClass += 'badge-warning';
                    break;
                case 2:
                    result = 'High';
                    badgeClass += 'badge-danger';
                    break;
            }
            return '<span class="' + badgeClass + '">' + result + '</span >'
        }
    </script>
}
