<div style="display: flex; justify-content: center;">
    <div class="mt-2" style="width: 400px; height:500px;">
        <div class="card bg-light shadow">
            <div class="card-header">
                <img class="card-img-top" src="~/Icons/default-avatar.png"  />
                <h3 class="card-title">User3365</h3>
                <p class="card-subtitle">brendonander205@gmail.com</p>
            </div>
            <div class="card-body justify-content-center">
                <p class="card-text ml-3">Brendon Anderson</p>
                <p class="card-text ml-3">The Organization</p>
                <p class="card-text ml-3">Total Projects: 5</p>
                <p class="card-text ml-3">Total Bugs: 26</p>
            </div>
        </div>
    </div>
</div>
